@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    box-sizing: border-box;
    margin: 0;

}

body {
    font-family: 'Montserrat', sans-serif;

    background-color: #FFFFFF;

    /*
    background-image: url(https://www.hdwallpapers.in/download/purple_ambient_hd_5k-wide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}

.menufixo {
    font-family: 'Electrolize', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 15px;

    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    z-index: 9999;

    background-color: #f5f5f5;
}

ul {
    margin-right: 30px;
}

li {
    display: inline-block;
    margin: 15px;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.sinais {
    color: #CBD073;
}

a:hover {
    color: #FCA311;
    transition: 0.3s all;
}

#contato {
    border: 2px solid #FCA311;
    padding: 10px;
    border-radius: 15%;
}

#contato:hover{
    color: #FCA311;
}

.section1 {
    margin-top: 180px;
    
}


.novo {
    margin-top: 20px;
    display: flex;
    height: 120px;

    align-items: center;
}

.contats {
    margin-left: 20px;
    padding-top: 20px;

    animation:
     contato 1.5s infinite ease-in-out;
}

@keyframes contato {
    50% {
        transform: translateY(-10%);
    }
}

main {
    margin-top: 80px;
    margin: 0 auto;

}


h2 {
    font-size: 200px;
    color: rgb(226, 226, 226);

    font-family: 'Oswald', sans-serif; 
}


.descri {
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #14213D;
    display: flex;
    justify-content: flex-end;
}

.developer {
    margin-top: -20px;
    margin-bottom: 0;

    color: rgb(34, 34, 34);
}

.web {
    color: rgb(34, 34, 34);
}

.louco {
    color: #FCA311;
}

p {
    font-size: 17px;

}

.apresentacao {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.apresent {
    margin-left: 10%;

}

.hello {
    letter-spacing: 1px;
    padding-left: 15px;

    font-weight: bold;
    color: #2c3e66;

    font-family: 'Oswald', sans-serif; 
}

.section2 {     
    margin-top: 100px;
    padding-top: 200px;

    color: #f5f5f5;
    background-color: #14213D;
    height: 1400px;

    /*
    background-image: url(../img/section2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(161, 161, 161);*/
}

.sob {
    height: 1100px;
}

.img-about {
    border-radius: 90%;

    /*
    animation:
     gyan 1.5s infinite ease-in-out;
    */
}

/*
@keyframes gyan {
    50% {
        transform: translateY(-2%);
    }
}
*/

.sobremim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eu {
    padding-top: 25px;
}

.about {
    font-size: 30px;
    margin-top: 50px;
    
    background-color: #14213D;
}

.about2 {
    margin-top: 20px;
    line-height: 1.5;

    font-size: 19px;
    width: 900px;

}

.about3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
    padding: 50px;

    width: 700px;
    height: 300PX;

    color: #2c3e66;
    background-color: #FFFFFF;

    border-radius: 40PX;

}

.titleabout {
    margin-top: 80px;
}

.titleabout h1 {
    font-size: 25px;
    color: #CBD073;
}

.cat {
   margin-top: 20px;

}

button {
    border: none;
    border-radius: 10px;

    margin-top: 30px;
    height: 40px;
    width: 150px;

    font-weight: bold;
    background-color: #FFFFFF;
    color: #14213D;

    cursor: pointer;
}

button:hover {
    color: #040507;
    background-color: #e6e4e4;
    transition: 0.3s all;
}

.section3 {
    background-color: #14213D;
}

.skills {
    margin-top: 200px;

    background-color: #FFFFFF;
}

.tecnologies {
    text-align: center;
    font-size: 30px;
    color: #FCA311;
}


.tecnologies2 {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;

    color: #14213D;

}

.conttecs {
    height: 700px;
    width: 1000px;

    margin: 0 auto;
    padding-top: 70px;

    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    color: #14213D;
}

.tecs {
    height: 265px;
    width: 235px;

    margin-top: 40px;
    padding-top: 20px;

    border-radius: 7%;

    background-color: #f5f5f5;
    border: 1px #14213D solid;
    color: #14213D;

    display: flex;
    align-items: center;
    flex-direction: column;

}

.tecs img {
    transition: .35s;
    cursor: pointer;
}

.tecs img:hover {
    width: 75px;
}

/* .tecs:hover {

    animation:
     tec 1.5s normal ease-in-out;
}

@keyframes tec {
    50% {
        transform: translateY(-10%);
    }
} */

.nome-tecnologia {
    margin-top: 8px;
    color: rgb(34, 34, 34);
}

.descricao-linguagem {
    width: 175px;
    text-align: center;

    margin-top: 15px;

}

.section4 {
    margin-top: 140px;
    /*
    background-image: url(../img/section2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/

    padding-top: 100px;
}

.container-projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*
    border: 1px red solid;*/

}
  
.projetos {
    margin: 10px;

    width: 390px;
    height: 500px;
    background-color: #FCA311;

    border-radius: 10px;
    border: 1px #f5f5f5 solid;

    margin-top: 50px;

    color: #14213D;

    background-color: #14213D;

    display: flex;
    flex-direction: column;

    font-family: 'Montserrat', sans-serif;

}

.preview {
    margin-top: 40px;

    background-color: #CBD073;
    width: 331px;
    height: 200px;

    background-image: url(../imagensprojects/Naygproject.png);
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
    border: 1px #f5f5f5 solid;
}

.preview:hover {
    border: 2px #f5f5f5 solid;
}

.descriprojetos {
    margin-top: 40px;

    width: 85%;
    height: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.descriprojetos h1 {
    font-weight: 600;
    color: #f5f5f5;

    font-size: 22px;

    
}

.descriprojetos img {
    border-radius: 50%;
    
}

.descriprojetos img:hover {
    background-color: #f5f5f5;
    transition: 0.3s all;
}

.explicandoprojeto {
    margin-top: 40px;

    color: #f5f5f5;

    width: 320px;

    margin-right: auto;
    margin-left: 33px;
}

#projeto2, #projeto1, #projeto6, #projeto3 {
    display: flex;
    align-items: center;
}


#preview1 {
    background-image: url(../imagensprojects/nlwproject.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#preview3 {
    background-image: url(../imagensprojects/construindo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#preview6 {
    background-image: url(https://cdn.educba.com/academy/wp-content/uploads/2021/08/JDBC-Update.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.colorlinguagem {
    background-color: #fc1111;
    width: 20px;
    height: 20px;

    border-radius: 50%;
}

.linguagemprojeto p {
    margin-left: 8px;
    font-weight: 600;

}

.linguagemprojeto {

    display: flex;
    
    margin-left: auto;
    margin-top: 30px;
    width: 100px;

    color: #f5f5f5;
}

#projeto2 .linguagemprojeto {
    margin-top: 50px;
}


/* #projeto1 {
    background-image: url(../imagensprojects/nlwproject.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#projeto2 {
    background-image: url(../imagensprojects/Naygproject.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#projeto6 {
    background-image: url(https://d3f1iyfxxz8i1e.cloudfront.net/courses/course_image/c7be5011133d.jpeg);
} */

.section5 {
    margin-top: 250px;
}

.container-dados {
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.escrever {
    width: 400px;
    height: 50px;

    padding: 20px;
    margin-top: 15px;

    border-radius: 10px;
    border: 1px #14213D solid;


    font-size: 15px;
}

label {
    margin-left: 10px;
    font-size: 20px;

    margin-top: 60px;
}

.container-inputs {
    display: flex;
    align-items: center;

}

.inputss {
    margin-left: 40px;
    margin-right: 40PX;
}

.container-bottom {
    margin-top: 40px;

    margin-left: 37px;
}

textarea {
    padding: 20px;
    margin-top: 15px;

    font-size: 15px;
    
    border-radius: 10px;
    border: 1px #14213D solid;
    
    resize: none;
}

.container-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;

}

.enviar {
    width: 150px;
    height: 40px;

    border-radius: 10px;
    border: none;

    color: #14213D;
    font-size: 15px;

    cursor: pointer;

}

.enviar:hover {
    background-color: #f5f5f5;
    color: #14213D;
    border: 1px #FCA311 solid;
}

h6 {
    margin-top: 250px;
}

.rodape {
    margin-top: 80px;

    color: #f5f5f5;
    background-color: #14213D;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 40px;
}

.redes {
    display: flex;
    align-items: center;
}

.redes-img {
    padding: 5px;
    margin: 10px;
    
    /*
    animation:
     redess 3.0s infinite ease-in-out;*/

}

/*
@keyframes redess {
    50% {
        transform: translateY(-10%);
    }
}*/

.copy {
    margin-top: 70px;
}

.section5 .tecnologies {
    color: #14213D;
}

.arrow {
    width: 1400px;
    height: 20px;

    display: flex;
    justify-content: flex-end;

}



