@media (max-width: 550px) {

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .menufixo, .hello, .section1{
        visibility: hidden;

        height: 0;
        padding: 0;
        margin: 0;
    }

    .descri {
        font-size: 10px;
        margin-top: 10px;
    }

   #linkedin {
        margin-left: 15px;
    }

    .contats {
        margin-left: 0;
    }

    .contats a img {
        width: 30px;

    }

    .section2 {
        margin-top: 0;
        padding-top: 30px;
        height: 1000px;
    }

    .img-about {
        width: 200px;
    }

    .about {
        font-size: 15px;
    }

    .about2 {
        font-size: 12px;
    }

    .about2 {
        width: 360px;
    }

    .titleabout h1 {
        font-size: 18px;
    }

    .about3 {

        width: 380px;
        height: 220px;
        
        display: flex;
        flex-direction: column;

        justify-content: center;
    }

    .about3 p {
        font-size: 12px;
    }

    button {
        width: 90px;
        font-size: 12px;
    }

    .section3 {
        height: 0px;
        visibility: hidden;
    }

    .section4 {
        margin-top: 0;
        padding-top: 0;
    }

    .tecnologies {
        font-size: 24px;
    }

    .tecnologies2 {
        font-size: 18px;
    }

    .container-inputs {
        display: flex;
        flex-direction: column;
    }

    .inputss {
        margin-top: 20px;
    }

    .escrever {
        width: 380px;
    }

    label {
        font-size: 18px;
    }

    textarea {
        margin-right: 60px;
        width: 360px;
    }

    .container-enviar input {
        margin-right: 30px;
        border: 1px black solid;
    }

}